In [1]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [7]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [17]:
second_row = df.iloc[1]  # Indexing is zero-based
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [19]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [21]:
# iloc  is label based indexing and accept row/column based on label and key error if label doesn't exist.
#loc is integer based indexing. Accept integer or integer slices. Return row/column by position.

In [23]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.
#Consider the below code to answer further questions:

In [72]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [74]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.448751  0.151654  0.771597  0.403736  0.288517  0.138611
2  0.293317  0.031067  0.848560  0.139490  0.935556  0.084067
3  0.669881  0.976802  0.508564  0.285126  0.659777  0.451343
4  0.890927  0.166074  0.141961  0.195141  0.873657  0.251974
5  0.077694  0.466910  0.967416  0.594024  0.096644  0.613370
6  0.485099  0.935650  0.895239  0.107772  0.507365  0.304874

df1 = pd.DataFrame(df1, index= [0,1,2,3,4,5])

In [80]:
df1 = pd.DataFrame(df1, index= [0,1,2,3,4,5])

In [70]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.001657  0.125529  0.347756  0.093534  0.669553  0.167035
2  0.891455  0.304641  0.514193  0.158271  0.257651  0.593416
3  0.317293  0.675815  0.966853  0.904600  0.116588  0.679586
4  0.063593  0.323747  0.380588  0.214063  0.948327  0.937458
5  0.671293  0.369035  0.367105  0.486443  0.986819  0.361196

In [52]:
new_df1 =df1.reindex([3,0,1,2,4,5])

In [54]:
new_df1

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.317293  0.675815  0.966853  0.904600  0.116588  0.679586
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.001657  0.125529  0.347756  0.093534  0.669553  0.167035
2  0.891455  0.304641  0.514193  0.158271  0.257651  0.593416
4  0.063593  0.323747  0.380588  0.214063  0.948327  0.937458
5  0.671293  0.369035  0.367105  0.486443  0.986819  0.361196

In [82]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#(i) mean of each and every column present in the dataframe.
#(ii) standard deviation of column, ‘column_2’

In [84]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.476114  0.358502  0.647620  0.323503  0.570830  0.307873
std    0.317222  0.381142  0.329031  0.181266  0.366468  0.221233
min    0.077694  0.031067  0.141961  0.139490  0.096644  0.084067
25%    0.293317  0.151654  0.508564  0.195141  0.288517  0.138611
50%    0.448751  0.166074  0.771597  0.285126  0.659777  0.251974
75%    0.669881  0.466910  0.848560  0.403736  0.873657  0.451343
max    0.890927  0.976802  0.967416  0.594024  0.935556  0.613370

In [86]:
#Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
#mean of column, column_2.
#If you are getting errors in executing it then explain why.
#[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [98]:
df1.loc[1,'column_2'] = 'String_Value'

In [100]:
df1

   column_1      column_2  column_3  column_4  column_5  column_6
0       NaN           NaN       NaN       NaN       NaN       NaN
1  0.448751  String_Value  0.771597  0.403736  0.288517  0.138611
2  0.293317      0.031067  0.848560  0.139490  0.935556  0.084067
3  0.669881      0.976802  0.508564  0.285126  0.659777  0.451343
4  0.890927      0.166074  0.141961  0.195141  0.873657  0.251974
5  0.077694       0.46691  0.967416  0.594024  0.096644  0.613370

In [104]:
mean_value = df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [106]:
#In pandas, the window functions refer to operations that are applied over a rolling window or a sliding window of data. These functions allow you to perform calculations on a subset of data that "moves" through the DataFrame, rather than applying the function to the entire dataset. They are particularly useful for time-series analysis, smoothing data, and creating moving averages, among other tasks.

In [ ]:
#rolling
#expanding
#emw(Exponential moving average)

In [1]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
#[Hint: Use pandas.datetime function]

In [11]:
import pandas as pd
current_date = pd.Timestamp.now()

In [13]:
current_date

Timestamp('2024-11-30 17:32:09.682597')

In [31]:
print(f"Month: {current_date.month}, Year: {current_date.year}")

Month: 11, Year: 2024

In [33]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
#calculates the difference between them in days, hours, and minutes using Pandas time delta. The
#program should prompt the user to enter the dates and display the result.

In [135]:
import pandas as pd

# Prompt the user for two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the two dates
delta = abs(date2 - date1)

# Extract days, hours, and minutes from the timedelta object
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60

# Display the result
print(f"The difference is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2024-10-2
Enter the second date (YYYY-MM-DD):  2024-9-2

The difference is 30 days, 0 hours, and 0 minutes.

In [137]:
#Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
#column to a categorical data type. The program should prompt the user to enter the file path, column
#name, and category order, and then display the sorted data.

In [143]:
df8 = pd.read_csv('services.csv')

In [145]:
df8

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [159]:
cat = pd.Categorical(df8)

In [161]:
import pandas as pd

# Prompt user for input details
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order as a comma-separated list (e.g., A,B,C): ").split(',')

try:
    # Read the CSV file
    data = pd.read_csv(file_path)
    
    # Check if the column exists
    if column_name not in data.columns:
        raise ValueError(f"Column '{column_name}' not found in the file.")
    
    # Convert the specified column to a categorical data type
    data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)
    
    # Sort the data based on the categorical column
    sorted_data = data.sort_values(by=column_name)
    
    # Display the sorted data
    print("\nSorted Data:")
    print(sorted_data)
    
except Exception as e:
    print(f"An error occurred: {e}")

Enter the CSV file path:  http://localhost:8888/files/services.csv?_xsrf=2%7Ce2efe328%7Ca0fed8b17864f954334cc7ad49229c0d%7C1732602919
Enter the column name to convert to categorical:  'location_id'
Enter the category order as a comma-separated list (e.g., A,B,C):  B

An error occurred: Error tokenizing data. C error: Expected 1 fields in line 15, saw 2